footer {
  align-items: center;
  background-color: var(--creditsColor);
  bottom: 0;
  color: white;
  display: flex;
  height: 40px;
  outline: solid 1px grey;
  padding: 0 5%;
  position: fixed;
  width: 100%;
  z-index: 100;

  p {
    font-size: clamp(0.5rem, 0.3784rem + 0.5405vw, 1rem);
    font-weight: 600;
    width: 100%;
    display: flex;
    justify-content: center;
    span:nth-child(1) {
      margin-left: auto;
    }
    span:nth-child(2) {
      margin-left: auto;
    }
    a {
      font-size: clamp(0.5rem, 0.3784rem + 0.5405vw, 1rem);
      font-weight: 600;
      text-decoration: none;
      color: white;
    }
    a:hover {
      color: goldenrod;
    }
  }
}

.displayNone {
  display: none;
}

.displayFlex {
  display: flex;
}