@mixin InputLabelEditFiles {
  width: 100%;
  cursor: pointer;
  height: clamp(2.5rem, 1.8333rem + 2.963vw, 3.5rem);
  padding: 15px;
  justify-content: center;
  outline: solid gray 1px;
  text-align: center;
}

.editFileContainerSection {
  height: 100%;
  width: 200px;
  outline: solid darkgray 1px;

  .wrapperEditFile {
    @include Maxsize100;
    background-color: var(--sideBarColor);
    ul {
      @include Maxsize100;
      @include UlNormalize;

      label {
        @include InputLabelEditFiles;
        align-items: center;
        display: flex;
        color: white;
        background-color: var(--labelBackgroundColor);
        text-transform: capitalize;
        font-weight: 600;
        letter-spacing: 1px;
        transition: background-color 0.5s;

        svg {
          margin-right: 10px;
        }
      }
      .hoverYes:hover {
        background-color: rgb(171, 168, 168);
        color: white;
      }
      .uploadFileLabel {
        background-color: transparent;
      }

      input {
        @include InputLabelEditFiles;
        padding: 0 15px;
        text-transform: capitalize;
        background-color: transparent;
        color: white;
        transition: background-color 0.5s;
      }
      input:hover {
        background-color: rgb(171, 168, 168);
        color: white;
      }
      .downloadButton {
        @include InputLabelEditFiles;
        border-bottom: solid gray 1px;
        color: white;
        outline: none;
        text-decoration: none;
        transition: background-color 0.5s, color 0.5s;

        svg {
          margin-right: 5px;
        }
      }
      .downloadButton:hover {
        background-color: rgb(171, 168, 168);
        color: black;
      }

      .redB {
        background-color: rgb(110, 5, 17);
        color: white;
      }
      .yellowB {
        background-color: goldenrod;
        color: black;
      }
      .greenB {
        background-color: green;
        color: white;
      }
      .blueB {
        background-color: #7289da;
        color: white;
      }
    }
  }
}
