.errorContentIdsFoundUnconverted {
    position: fixed;
    width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    outline: solid black 5px;

    .errorContentIdsFoundUnconvertedWrapper {
        padding: 25px;
        position: relative;
        text-align: center;
        @include Maxsize100;

        .closeWindowButton {
            cursor: pointer;
            position: absolute;
            top: 0;
            right: 0;
            border: none;
            width: 30px;
            height: 30px;
            color: black;
            font-weight: 900;
            outline: solid 2px black;
        }
        button:hover {
            background-color: darkgrey;
            color: white;
        }
    }
}