.progressBarContainer {
  width: 100%;
}
.Bar {
  display: flex;
  justify-content: space-between;
  padding: 1% 0;
  width: 100%;
  min-width: 100px;

  .dot {
    height: 24px;
    width: 12.5%;
  }

  .greyBar {
    height: 40px;
    background-color: var(--loadingBarPercentComplete);
    flex: 1 0 auto; 
  }
  .greenBar {
    height: 40px;
    background-color: var(--loadingBarPercentRemaining);
  }
}
